#quote-box{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Raleway;
    font-size: 50px;
    border-radius: 10px;
    margin-top: 10%;

}

#content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

body{
    background-color: rgb(129, 129, 180);
}

#author{
    font-size: 30px;
    margin-top: 20px;
    align-self: flex-end;
}
#text{
    text-align: center;
}
button{
    background-color: rgb(129, 129, 180);
    color: white;
    font-family: Raleway;
    font-size: 30px;
    border-style: none;
    margin: 20px;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

button:hover{
    background-color: rgb(56, 56, 78);
    transform: scale(0.8);
    cursor:pointer;
}

body{
    transition-duration: 1.2s;
}

button img{
    margin: 8px;
}

#new-quote{
    width: 100%;
}